.carousel{
  width: 40vw;
  height: 22.5vw;
  display: block;
  position: relative;
  overflow: hidden;
}

@media (max-aspect-ratio: 1/1) {
  .carousel{
    width: 70vw;
    height: 39vw;
  }
}

.carousel > img {
  position: absolute;
  width: 100%;
}
