.collapsible{
  overflow: hidden;
  margin: 0;
  display: none;
  margin-right: 3vw;
}

.collapsible_head{
  cursor: pointer;
  display: flex;
}

.expand{
  margin-left: auto;
  margin-right: 0;
}